<mat-tab-group>
  <mat-tab label="Programming / Coding">
    <mat-list>
      <mat-list-item>HTML5</mat-list-item>
      <mat-list-item>CSS3</mat-list-item>
      <mat-list-item>JavaScript</mat-list-item>
      <mat-list-item>TypeScript</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Web Framework">
    <mat-list>
      <mat-list-item>Angular</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Development tools">
    <mat-list>
      <mat-list-item>Git</mat-list-item>
      <mat-list-item>Docker</mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>
